body { 
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 40px;
}

/*CARACTERISTICAS GERAIS*/
:root {
  --blue:#17A6E4;
  --green:#3FE168;
  --bg-black: #000000;
  --gray:#CCCCCC; 
  background-color: var(--bg-black);
  color: var(--gray);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{ /*APLICATIVO GERAL*/ 
  height: 100vh;
  margin-left: 224px;
  padding-left: 30px;
  padding-right: 50px;
  background:linear-gradient(to bottom,var(--blue),transparent 75%);
  height: 100vh;
}
.area{  /*AREA PRINCIPAL*/
  display:flex;
  flex-direction: row;
  padding-bottom: 60px;
  padding-top:100px;
}
.image-playlist{ /*IMAGEM DA PLAYLIST*/
  width:224px;
  height: 224px;
  background-image:url("./Imgs/img_Californication.jpg");
  background-size: 224px 224px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 40px;
  box-shadow: 0px 0px 50px rgb(73, 73, 73);
}
.name-playlist{
  line-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  color: white;
  font-weight: 700;
}
.playlist-time{
    color: rgb(200, 200, 200);
}

.middle-buttons{ /*BOTOES DO MEIO (CONTROLE DA PLAYLIST)*/
  margin-top: 0px;
  margin-bottom: 60px;
}
.play-button{
  margin: 10px;
  background-color: transparent;
  border: none;
  color: #3FE168;
  cursor: pointer;
}
.play-button:hover{color: white;}
.favorite-playlist-button{
  margin: 10px;
  background-color: transparent;
  border: none;
  color: var(--gray);
  cursor: pointer;
}
.favorite-playlist-button:hover{color: white;}
.download-button{
  margin: 10px;
  background-color: transparent;
  border: none;
  color: var(--gray);
  cursor: pointer;
}
.download-button:hover{color: white;}
.more-options-button{
  margin: 10px;
  background-color: transparent;
  border: none;
  color: var(--gray);
  cursor: pointer;
}
.more-options-button:hover{color: white;}


.header-playlist{ /*CABEÇALHO PARA AREA EM QUE APARECE AS MUSICAS*/
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: gray;
}
.header-playlist-tittle{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.line-header{ /*LINHA SEPARANDO O CABEÇALHO*/
  border-color: rgb(75, 75, 75); 
  border-style: solid;
  border-top: none;
  height: 1px;
  margin-bottom: 30px;
}


.playlist{/*AREA EM QUE APARECE AS MUSICAS*/
  display: flex;
  flex-direction: column;
}
.music{ /*MUSICAS*/
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  line-height: 60px;
}
.TITLE{ /*NOME DA MUSICA E DO ARTISTA*/
  line-height:20px ;
}
.material-symbols-outlined {/*CARACTERES ESPECIAIS (FAVORITO E DELETAR)*/
  margin: 5px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.favorite-button { /*BOTAO DE FAVORITOS*/
  position: relative;
  background-color: transparent;
  color: var(--gray);
  border: none;
  cursor: pointer;
} 
.favorite-button:hover{ /*MUDAR A COR DO BOTAO QUANDO PASSAR O MOUSE*/
  color: #ffffff;
}
.delete-button { /*BOTAO DE DELETAR*/
  background-color: transparent;
  color: var(--gray);
  border: none;
  cursor: pointer;
} 
.delete-button:hover { /*MUDAR A COR DO BOTAO QUANDO PASSAR O MOUSE*/
  color: #ffffff;
}


